<!DOCTYPE html>
<html>
    <head>
        <title>Démineur</title>
        <style type="text/css">
            body{
                margin: 0;
            }
            /*#canvas{
                border : 1px solid #000;
            }*/
        </style>
        <meta name = "viewport" content = "width=divice-width, initial-scale=1.0">
        <meta charset="utf-8">
    </head>
    <body>
        <canvas id = "canvas"></canvas>
        <!-- <script type = "text/javascript" src = "/assets/config.js"></script>
        <script type = "text/javascript" src = "/assets/case.js"></script>
        <script type = "text/javascript" src = "/assets/map.js"></script>
        <script type = "text/javascript" src = "/assets/partie.js"></script> -->
        <!--<script type = "text/javascript" src = "/assets/canvas.js"></script>-->
        <script type = "text/javascript" src = "/assets/canvas.min.js"></script>
    </body>
</html>