<!DOCTYPE html>
<html>
	<head>
		<title>Démineur</title>
		<style type="text/css">
			body{
				margin: 0;
			}
		</style>
		<meta name = "viewport" content = "width=divice-width, initial-scale=1.0">
		<meta charset="utf-8">
	</head>
	<body>
		<canvas id = "canvas"></canvas>
		<script type = "text/javascript" src = "/assets/config.js"></script>
		<script type = "text/javascript" src = "/assets/case.js"></script>
		<script type = "text/javascript" src = "/assets/map.js"></script>
		<script type = "text/javascript" src = "/assets/canvas.js"></script>
	</body>
</html>